.wp-block-create-block-wwu-accordion-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.wp-block-create-block-wwu-accordion-block h2 {
    font-weight: bold;
    margin-top: 0;
}

.wp-block-create-block-wwu-accordion-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wp-block-create-block-wwu-accordion-block li {
    margin-bottom: 10px;
}

.wp-block-create-block-wwu-accordion-block button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}