

wwu-accordion.wp-block-create-block-wwu-accordion-block.has-text-color.has-white-color > wwu-accordion-item button {
    color: var(--wp--preset--color--white) !important;
}

wwu-accordion.wp-block-create-block-wwu-accordion-block.has-text-color.has-wwu-dark-blue-color > wwu-accordion-item button {
    color: var(--wp--preset--color--wwu-dark-blue) !important;
}

wwu-accordion.wp-block-create-block-wwu-accordion-block.has-text-color.has-wwu-light-green-color > wwu-accordion-item button {
    color: var(--wp--preset--color--wwu-light-green) !important;
}
